/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&family=Fjalla+One&family=Inter:wght@900&family=Roboto+Condensed:wght@300;400&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&family=Fjalla+One&family=Inter:wght@900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:wght@300;400&family=Secular+One&display=swap");


* {
  margin: 0;
}

body {
  background: linear-gradient(90deg, #0c164d 0%, #190b22 100%);
}

header {
  display: flex;
  justify-content: space-between;
}

.heading_wrapper {
  text-align: right;
  padding: 50px 50px 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* SÖKFÄLTET */
.search-form {
  display: flex;
  align-items: center;
  margin-left: -35px;
  margin-top: 20px;
}

.search-box {
  padding: 20px 150px 20px 20px;
  border-radius: 5px 0px 0px 5px;
  background-color: #0e1953;
  color: white;
  border: none;
}

.search-button {
  background-color: #ffd029;
  padding: 17px 25px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #0e1953;
  cursor: pointer;
}

.search-button:hover {
  background-color: #c09d21;
}

h1 {
  font-family: "Secular One";
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0.09em;
  color: white;
}

h2 {
  font-family: "Lora";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.6em;
  color: #ffd029;
}

/* PLANETER SOM SYNS PÅ VÄNSTER SIDA PÅ VARJE SIDA */
aside {
  margin-left: -650px;
  float: left;
}

/* WRAPPER RUNT PLANETERNA */
.planet_wrapper {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

/* PLANTER */
.solen {
  height: 740.12px;
  width: 740.12px;
  background-color: #ffd029;
  border-radius: 50%;
  box-shadow: 0px 0px 250px 150px #ffd02933;
}

.solen:hover {
  height: 760px;
  width: 760px;
  cursor: pointer;
}

.merkurius {
  height: 14px;
  width: 14px;
  background: linear-gradient(90deg, rgba(136,136,136,1) 0%, rgba(47,47,47,1) 100%);
  border-radius: 50%;
}

.merkurius:hover {
  height: 34px;
  width: 34px;
  cursor: pointer;
}

.venus {
  height: 26px;
  width: 26px;
  background: linear-gradient(90deg, rgba(231,205,205,1) 0%, rgba(54,48,48,1) 100%);
  border-radius: 50%;
}

.venus:hover {
  height: 46px;
  width: 46px;
  cursor: pointer;
}

.jorden {
  height: 28px;
  width: 28px;
  background: linear-gradient(90deg, rgba(66,142,212,1) 0%, rgba(20,41,61,1) 100%);
  border-radius: 50%;
}

.jorden:hover {
  height: 48px;
  width: 48px;
  cursor: pointer;
}

.mars {
  height: 14px;
  width: 14px;
  background: linear-gradient(90deg, rgba(239,95,95,1) 0%, rgba(61,25,25,1) 100%);
  border-radius: 50%;
}

.mars:hover {
  height: 34px;
  width: 34px;
  cursor: pointer;
}

.jupiter {
  height: 188px;
  width: 188px;
  background: linear-gradient(90deg, rgba(226,148,104,1) 0%, rgba(41,27,20,1) 100%);
  border-radius: 50%;
}

.jupiter:hover {
  height: 208px;
  width: 208px;
  cursor: pointer;
}

.saturnus {
  height: 144px;
  width: 144px;
  background: linear-gradient(90deg, rgba(199,170,114,1) 0%, rgba(57,49,34,1) 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saturnus:hover {
  height: 164px;
  width: 164px;
  cursor: pointer;
}

.saturnus_disc {
  height: 5.5px;
  width: 218.23px;
  opacity: 50%;
  rotate: 150deg;
  border-radius: 50%;
  background-color: white;
}

.uranus {
  height: 86px;
  width: 86px;
  background: linear-gradient(90deg, rgba(201,212,241,1) 0%, rgba(52,54,61,1) 100%);
  border-radius: 50%;
}

.uranus:hover {
  height: 66px;
  width: 66px;
  cursor: pointer;
}

.neptunus {
  width: 86px;
  height: 86px;
  background: linear-gradient(90deg, rgba(122,145,167,1) 0%, rgba(39,46,52,1) 100%);
  border-radius: 50%;
}

.neptunus:hover {
  width: 66px;
  height: 66px;
  cursor: pointer;
}

/* Zo-com logga */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both;
  margin-bottom: 50px;
}

/* PLANET PAGE*/
.planet_header {
  padding-top: 50px;
  margin-bottom: -70px;
}

/* TILLBAKA KNAPP */
.returnButton {
  background-color: #111e66;
  padding: 5px 40px;
  border: none;
  border-radius: 5px;
  z-index: 99;
  cursor: pointer;
}

.returnButton:hover {
  background-color: #101b58;
}

.returnButton img {
  width: 25px;
}

/* BAKGRUNDSBILD */
.stars {
  width: 90%;
  position: absolute;
}

/* DEN STORA PLANETEN SOM VISAS PÅ VÄNSTRA SIDA */
.planet {
  height: 740.12px;
  width: 740.12px;
  border-radius: 50%;
  box-shadow: 0px 0px 250px 0px #ffd02933;
}

/* INFORMATION OM PLANETEN */
.main-container {
  width: 640px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}

.planet_latin {
  margin-top: 10px;
}

.planet_description {
  margin-top: 30px;
}

.planet-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.line-divider {
  background-color: white;
  opacity: 20%;
  height: 1px;
  width: 100%;
  margin: 30px 0;
}

/* UNDERRUBRIKER */
h6 {
  color: white;
  font-family: Secular One;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.09em;
  text-align: left;
  margin-bottom: 5px;
}

/* BRÖDTEXT */
p {
  color: white;
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: 300;
  line-height: 31px;
  letter-spacing: 0.16em;
  text-align: left;
}
